.imagem_carrossel_um{
    object-fit: cover;
    object-position: 0 100%;
    height: 80vh;
}
.imagem_carrossel_dois{
    object-fit: cover;
    height: 80vh;
}

.Fonte-Pacifico{
    font-family:'Pacifico', cursive;
}
.max-width-18rem{
    max-width: 18rem;
}
.cor-especial{
    color: darkred;
}

.botao-cor-especial{
    background-color: darkred;
    color: white;
}
.borda-cor-especial{
    border-color: darkred;
}

.card-posicao-imagem{
    object-fit: cover;
    height: 30vh;
}

#cor-especial-nav-bar{
    color: darkred;
}